@import "./colors.scss";
@import "./global.scss";

// components
@import "components/bread-crumb/BreadCrumb.scss";
@import "components/variants-form/VariantsForm.scss";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
